<div class="container text-center my-3">
  <div>
    <div class="row border">
      <div class="col">First name</div>
      <div class="col">Last name</div>
      <div class="col">Relationship</div>
      <div class="col">Email</div>
      <div class="col">Status</div>
      <div class="col">Action</div>
    </div>
      <%= render "new", event: @event, guest: Guest.new %>
      <%= link_to 'Import from Spreadsheet', guestlist_path %>
      <% @guests.each do |guest| %>
        <%= render "guest", guest: guest %>
      <% end %>
  </div>
</div>
