<table class="table">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Relationship</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <%# <tbody> %>
      <tr><%= render "new", event: @event, guest: Guest.new %></tr>
      <% @guests.each do |guest| %>
        <%= render "guest", guest: guest %>
      <% end %>
  <%# </tbody> %>
</table>
