.e-vite-row {
  height: calc(100vh - 143px);
}
.e-vite-top-container {
  margin: 0 auto;
}

#selected_evite_1{
  background-image: url('e_vite_1.png') ;
  width: 480px;
  height: 480px;
  background-repeat: no-repeat;
  background-size: contain;
  .container {
    border: 1px solid #bfbdbd;
    margin-top: 20px;
  }
}

#selected_evite_2{
  background-image: url('e_vite_2.png') ;
  width: 480px;
  height: 480px;
  background-repeat: no-repeat;
  background-size: contain;
  .container {
    border: 1px solid #bfbdbd;
    margin-top: 20px;
  }
}

#selected_evite_3{
  background-image: url('e_vite_3.png') ;
  width: 480px;
  height: 480px;
  background-repeat: no-repeat;
  background-size: contain;
  .container {
    border: 1px solid #bfbdbd;
    margin-top: 20px;
  }
}

#e_vite_1 {
  width: 180px;
  height: 180px;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 1px solid #bfbdbd;
}

#e_vite_2 {
  width: 180px;
  height: 180px;
  margin-bottom: 15px;
  border: 1px solid #bfbdbd;
}

#e_vite_3 {
  width: 180px;
  height: 180px;
  margin-bottom: 15px;
  border: 1px solid #bfbdbd;
}

#column_template {
  background-color: #F8EDED;
  align-items: center;
  width: 330px;
  padding-top: 20px;
}

.btn-container {
  margin-top: 20px;
  form .btn-4u {
    margin-top: 35px;
    width: 150px;
  }
}
