#evite-partial-1{
  background-image: url('e_vite_1.png') ;
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
}

#evite-partial-2{
  background-image: url('e_vite_2.png') ;
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
}

#evite-partial-3{
  background-image: url('e_vite_3.png') ;
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
}
