#selected_evite_1{
  background-image: url('e_vite_1.png') ;
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
}

#selected_evite_2{
  background-image: url('e_vite_2.png') ;
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
}

#selected_evite_3{
  background-image: url('e_vite_3.png') ;
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
}

#e_vite_1 {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 1px solid black;
}

#e_vite_2 {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  border: 1px solid black;
}

#e_vite_3 {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  border: 1px solid black;
}

#column_template {
  background-color: #F8EDED;
  align-items: center;
  width: 230px;
  padding: 0px 50px;
}
