// Specific CSS for your home-page
.banner {
  background-image: url('landing_page.png') ;
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain; ;
}

body{
  background-color: #F8EDED;
}

.btn {
  background-color: #F8EDED;
}

.plannig_check {

}
