.waiting {
  width: 800px;
  height: 200px;
  margin: 150px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waiting p {
  font-size: 25px;
}

.sm-card {
  background-color: white;
  border-radius: 10px;
  width: 330px;
  height: 85px;
  margin: 20px 10px;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container {
  justify-content: center;
}

.table-circle-container {
  display: flex;
  justify-content: center;
}

.table-circle {
  margin: 5px 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid pink;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
