<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="row modal-row">
            <div class="col-4 modal-left-container">
              <div class="modal-left">
                <h1>Tell us<br>about<br>your<br>event</h1>
              </div>
            </div>
            <div class="col-8 p-0">
              <div class="modal-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <%= render "events/form", event: event %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
