<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body">
          <div class="row">
            <div class="col-4">
              <h1>Tell us<br>about<br>your<br>event</h1>
            </div>
            <div class="col-8">
              <%= render "events/form", event: event %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
