<div id="evite-partial-1" class="container d-flex h-100 justify-content-center">
  <div class="row align-self-center flex-column mb-3">
    <p class="text-center"><%= current_user.first_name %> & <%= @event.partner_name %></p>
    <p class="text-center"><%= @event.date %></p>
    <p class="text-center"><%= @event.venue %></p>
  </div>
</div>
