<% if @event.guests.map {|g| g.guest_choice == nil }.include?(true) %>
  <div class="waiting">
    <p>We're waiting for all the guests to RSVP to make happy tables❤️</p>
  </div>
<% else %>
  <%= simple_form_for([@event, @table]) do |f| %>
    <%= f.input :num_of_seats %>
    <%= f.submit %>
  <% end %>
<% end %>
