.events-container {
  width: 1100px;
  margin: 0 auto;
}

.upper-container {
  display: flex;
  justify-content: space-between;
}

.photo-container {
  background-image: url('landing_page.png') ;
  width: 500px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
}

.checklist-container{
  background-color: white;
  width: 500px;
  height: 400px;
}
