.btn-4u {
  background-color: #ffe6e6;
  border-radius: 0;
  &:hover {
    border: 1px solid #ffe6e6;
  }
}

.btn-4u-black {
  background-color: black;
  color: white;
  border-radius: 0;

  &:hover {
    border: 1px solid black;
  }
}

.btn-4u-green {
  background-color: #C7E8CE;
  color: black;
  margin-right: 20px;

  &:hover {
    border: 1px solid #C7E8CE;
  }
}

.btn-4u-red {
  background-color: #F4B7AE;
  color: black;

  &:hover {
    border: 1px solid #F4B7AE;
  }
}
