#selected_evite_1 {
  color: #AB740B;
  font-family: 'Pinyon Script', cursive;
  font-size: 15px;

  #names {
    font-family: 'Cardo', serif;
    font-weight: bold;
    font-size: 25px;
  }

  #date {
    font-family: 'Cardo', serif;
    font-weight: bold;
  }

  #text {
    font-weight: lighter;
  }
}

#selected_evite_2 {
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 15px;

  #names {
    font-size: 25px;
  }

  #text {
    font-family: 'Pinyon Script', cursive;
  }
}

#selected_evite_3 {
  color: black;
  font-family: 'Courgette', cursive;
  font-size: 15px;

  #names {
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
  }
}
