.home-page-container {
  height: 100vh;

  .row {
    height: 100vh;
  }

  .landing-page {
    width: 100%;
    object-fit: cover;
    height: 100vh;
  }
}

.landing-page-text {
  margin-left: 10px;
  margin-right: 75px;

  h1 {
    margin-bottom: 50px;
  }

  p {
    margin-bottom: 30px;
  }

  .btn-4u-black {
    margin-bottom: 50px;
  }
}
