.home-page-container {
  height: 100vh;

  .row {
    height: 100vh;
  }

  .landing-page-img {
    width: 100%;
    object-fit: cover;
    height: 100vh;
  }
}

.landing-page-text {
  margin-left: 15px;
  margin-right: 75px;

  h1, h2 {
    margin-bottom: 50px;
  }

  h5 {
    margin-bottom: 30px;
  }

  .btn-4u-black {
    margin-bottom: 50px;
  }
}

.landing-page-img {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
