.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 0.8px solid rgb(227, 227, 227);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  margin-right: 0px;
}

.navbar-brand img {
  margin: 30px 10px;
  width: 190px;
  height: 50px;
}

.nav-link {
  font: "Raleway";
}

.login {
  position: absolute;
  left: 1340px;
  top: 23px;
  a {
    color: lightgray;
  }
}

nav.stroke ul li a {
  position: relative;
}

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.navbar-lewagon .navbar-brand img {
  width: 190px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

nav {
  // width: 80%;
  margin: 0 auto;
  background: #fff;
  // padding: 50px 0;
  // box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #aaa;
  // font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #555;
}
