<div id="selected_evite_1" class="container d-flex h-100 align-items-center justify-content-center">
  <div class="align-self-center">
    <p class="text-center"><%= current_user.first_name %> & <%= @event.partner_name %></p>
    <p class="text-center"><%= @event.date %></p>
    <p class="text-center"><%= @event.venue %></p>
  </div>
</div>
