<h2>test render template 3</h2>
<div id="evite-partial-3" class="d-flex align-items-center justify-content-center">
  <div class="">
    <p><%= current_user.first_name %> & <%= @event.partner_name %></p>
    <p><%= @event.date %></p>
    <p><%= @event.venue %></p>
  </div>
</div>
